@mixin btn($bg-color){
    text-decoration: none;
    padding: $base-padding $base-padding * 2;
    border-radius: $base-border-radius;
    cursor: pointer;
    border: 0;
    display: inline-block;
    background-color: $bg-color;
}

.btn{
    @include btn(#e2e2e2);
}

@each $key,$val in $colors{
    .btn-#{$key}{
        @include btn($val);

        &:hover{
            background-color: lighten($val,5);
        }
    }

    .btn-outlined-#{$key}{
        @include btn(#fff);
        border: $base-border-width solid $val;

        &:hover{
            background-color: $val;
        }
    }
}